@charset "UTF-8";

html {
	box-sizing: border-box;
  }
  *, *:before. *:after {
	box-sizing: inherit;
  }

body {
    font-family: helvetica, "Myriad Pro";
    font-size:16px;
    margin:0;
    background-color: #FCE9DB;
}

 /* all nav */
 .clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

header {
  margin: 0 1em;
  padding: 1em; /*use padding to get more space */
}

nav {
  width: 200px;
  position: absolute;
  left: -200px; /*off the screen to the right by 220px */
  top: 0;
  padding-top: 6em;
  padding-bottom: 4em;
  text-align: right;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav {
 font-size: 1.2em;
 font-weight: bold;
 color: #ED3E2A; 
 text-decoration: none;
}

li {
 padding-bottom: 1em;
 border-bottom: 3px solid white;
}

li:hover {
 font-size: 1.1em;
}

li:not(:last-child) {
  margin-bottom: 1em;
}

/*header layout*/

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  align-items: center;
}


.toggleTrigger {
  display: inline;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.icon-bar {
  width: 2em;
  height: 4px;
  display: block; /*inline by default */
  background-color: #ED3E2A;
}

.icon-bar + .icon-bar { /*all elements after + */
  margin-top: 5px;
}

i {
  color: transparent;
}

h2 a {
  color: #ED3E2A;
  text-decoration: none;
}

/*set a width on the nav, position it in right direction so it's off the screen */

#page-canvas { /*shift over the canvas to the left */
  height: 100%;
/*   transform: translateX(0); translate x direction */
  transition: all 0.4s cubic-bezier(0.32, 1.25, 0.375, 1.15); /*takes args: duration, ease-in function https://cubic-bezier.com/#.17,.67,.83,.67 */
  transform: translateZ(0) translateX(0); /*3d axis */
}

.show-nav #page-canvas {
  transform: translateZ(0) translateX(200px); /*220 is the width of nav */
}



  /* introduction */
  h2 {
    color: #ED3E2A;
    font-size: 22px;
    font-weight: bold;
  }
  .title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    justify-content: center;
    text-align: center;
  }

 #image {
    margin: 10px auto;
    height: 280px;
    width: 280px;
    background-color: white;
    border: 5px solid #ED3E2A;
    border-radius: 20px;
  }

  p {
    color: #5D5455;
    font-size: 16px;
    text-align: center;
    padding: 5%;
  }
  span {
    font-weight: bold;;
  }
  .about_us a:hover {
    color: #9CBD9C;
  }
  .about_us a {
    font-weight: bold;
    color: #5D5455;
  }

  #introduction {
    margin: auto;
    width: 280px;
    border: 5px solid white;
    border-radius: 20px;;
  }